<h1>Assign Report:</h1>
<h3>Enter and employee and the report you want to assign it to. To help, we've provided a list of the reports and employees:</h3>
<div class="row 200%">
    <div class="6u 12u$(medium)">
        <h2>Employee List:</h2>
        <table id = 'employeeList'>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hourly Rate</th>
                <th>Office</th>
            </tr>
            {{#each employee}}
            <tr>
                <td>{{this.eid}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.hourly_rate}}</td>
                <td>{{this.office_name}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="6u$ 12u$(medium)">
        <h2>Report List:</h2>
        <table id = 'reportList'>
            <tr>
                <th>Report ID</th>
                <th>Bridge</th>
                <th>LOA</th>
                <th>Budget</th>
                <th>Percent Complete</th>
                <th>Type</th>
            </tr>
            {{#each report}}
            <tr>
                <td>{{this.rep_id}}</td>
                <td>{{this.NBI_ID}}</td>
                <td>{{this.number}}</td>
                <td>{{this.budget}}</td>
                <td>{{this.pcomp}}</td>
                <td>{{this.type}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>

<div class="row 200%">
    <div class="6u$ 12u$(medium)">
        <h2>Assign Reports Here:</h2>
        <form>
            <div>Employee: <select name="employee" id="employee">
                            {{#each employee}}
                                <option value="{{this.eid}}">{{this.eid}} - {{this.first_name}} {{this.last_name}}</option>
                            {{/each}}
                        </select>
            </div>
            <div>Report: <select name="report" id="report_id">
                            {{#each report}}
                                <option value="{{this.rep_id}}">{{this.rep_id}} - NBI = {{this.NBI_ID}}, LOA = {{this.number}}</option>
                            {{/each}}
                        </select>
            </div>
            <div>hours: <input type="number" name="hours" id="hours"></div>
            <input type="button" name="Add Item" value="Assign Report" onclick = "validateForm(event)">
        </form>
    </div>
</div>

<h2>Assignment List:</h2>
<table id = 'assList'>
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Report ID</th>
        <th>Type</th>
        <th>NBI ID</th>
        <th>LOA Number</th>
        <th>Hours Worked</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {{#each data}}
    <tr>
        <form class="changeServer" action = 'http://localhost:2333/AssReport' method="GET">
            <td>{{this.eid}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rep_id}}</td>
            <td>{{this.type}}</td>
            <td>{{this.NBI_ID}}</td>
            <td>{{this.number}}</td>
            <td><input type="number" name="hours_worked" value="{{this.hours_worked}}"></td>
            <td>
                <input type="hidden" name="eid" value="{{this.eid}}">
                <input type="hidden" name="rep_id" value="{{this.rep_id}}">
                <input type="submit" name="editItem" value="Edit">
            </td>
        </form>
        <td>
            <form class="changeServer" action = 'http://localhost:2333/AssReport' method="GET">
                <input type="hidden" name="eid" value="{{this.eid}}">
                <input type="hidden" name="rep_id" value="{{this.rep_id}}">
                <input type="submit" name="deleteItem" value="Delete">
            </form>
        </td>
        
    </tr>
    {{/each}}
</table>


<script src="/js/assReport.js"></script>