<h1>Report:</h1>
<h3>Enter a report that you want to add:</h3>
<div class="row 200%">
    <div class="6u$ 12u$(medium)">
        <form>
            <div>Type: <input type="text" name="type" id="type"></div>
            <div>Budget: <input type="number" name="budget" id="budget"></div>
            <div>Percent Complete (0-100): <input type="number" name="pcomp" min="1" max="100" id="pcomp"><br></div>
            <div>Bridge: <select name="bridge" id="bridge">
                            {{#each bridge}}
                                <option value="{{this.id}}">{{this.NBI_ID}}</option>
                            {{/each}}
                        </select>
            </div>
            <div>LOA: <select name="loa" id="loa">
                            {{#each LOA}}
                                <option value="{{this.id}}">{{this.number}}</option>
                            {{/each}}
                        </select>
            </div>

            <input type="button" name="Add Item" value="Add Report" onclick = "validateForm(event)">
        </form>
    </div>
</div>

<h2>Report List:</h2>
<table id = 'reportList'>
    <tr>
        <th>ID</th>
        <th>LOA</th>
        <th>Bridge</th>
        <th>Budget</th>
        <th>Percent Complete</th>
        <th>Type</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rep_id}}</td>
        <td>{{this.number}}</td>
        <td>{{this.NBI_ID}}</td>
        <td>{{this.budget}}</td>
        <td>{{this.pcomp}}</td>
        <td>{{this.type}}</td>
        
    </tr>
    {{/each}}
</table>


<script src="/js/report.js"></script>